Repository wai-doi/sudoku-board: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --check, eslint, stylelint

.lintstagedrc.json:

{
  "*": ["prettier --ignore-unknown --check"],
  "**/*.{js,ts,vue}": ["eslint"],
  "**/*.{vue,css,scss}": ["stylelint"]
}

Create LICENSE
  LICENSE
Due: prettier --ignore-unknown --check

Convert eslint.config.ts to eslint.config.mjs
  eslint.config.mjs
Due: prettier --ignore-unknown --check

Add CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Fix CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Remove default e2e spec file
  e2e/vue.spec.ts
Due: prettier --ignore-unknown --check, eslint

Config save screenshot
  playwright.config.ts
Due: prettier --ignore-unknown --check, eslint

Add e2e tests for edit mode
  e2e/edit.spec.ts
  src/components/GameMode.vue
  src/components/NumberBoard.vue
  src/components/NumberCell.vue
  src/components/ResetButton.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Fix test case text
  e2e/edit.spec.ts
Due: prettier --ignore-unknown --check, eslint

Use getByRole instead of getByTestId
  e2e/edit.spec.ts
  src/components/GameMode.vue
  src/components/ResetButton.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Add e2e tests for solve mode
  e2e/solve.spec.ts
Due: prettier --ignore-unknown --check, eslint

Add E2E test job to CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Add build before e2e
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Add NumberUsagePanel
  src/App.vue
  src/components/NumberCell.vue
  src/components/NumberUsagePanel.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Add unit tests for NumberUsagePanel
  tests/unit/NumberUsagePanel.test.ts
  tests/utils/board.ts
Due: prettier --ignore-unknown --check, eslint

Add unit tests step to CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Updates
  assets/index-0adPah7f.js
  assets/index-C5_opqXD.js
  assets/index-D6pIzdIt.css
  assets/index-D729Trom.css
  index.html
Due: prettier --ignore-unknown --check, eslint, stylelint

Prevent selection of readonly cells
  src/components/NumberBoard.vue
  src/components/NumberCell.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Refactor NumberBoard
  src/components/NumberBoard.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Fix TypeScript type assertion for mode injection
  src/components/NumberBoard.vue
Due: prettier --ignore-unknown --check, eslint, stylelint

Add type check step to CI workflow
  .github/workflows/ci.yml
Due: prettier --ignore-unknown --check

Updates
  assets/index-0adPah7f.js
  assets/index-CmfzWPDp.css
  assets/index-D6pIzdIt.css
  assets/index-kNp1ZxsS.js
  index.html
Due: prettier --ignore-unknown --check, eslint, stylelint
